<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body> 
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form autocomplete="off" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <% if (error_msg) { %>
                <div class="alert alert-danger" role="alert">
                  <%= error_msg %>
                </div>
                <br/>
                <% } %>
                <label class="form-label" for="user_id">User Id</label>
              <input required type="text" id="user_id" 
              name="user_id"
              class="form-control form-control-lg"
              placeholder="Enter user id" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" 
              name="password"
              placeholder="Enter password"
              class="form-control form-control-lg" />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
          </form>
                <!-- <div class="mt-2">
        <a href="/SignUp">Signup</a>
      </div> -->
        </div>
      </div>
    </div>
  </section>
</body>
</html>