<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div>
        <i style="font-size: 30px;" class='bx bx-home-alt icon' ><a style="font-size: 10px;" href="/">Home</a></i>
        <i style="font-size: 30px;" class='bx bx-bar-chart-alt-2 icon' ><a style="font-size: 10px;" href="home">Time Table</a></i>
    </div>
    <%- include("partials/nav") -%>

    <section class="home">
        <div class="text">Home</div>
    </section>
    <div class="container">
      <!-- <h1 id="welcome_heading"  align="center">Welcome <%= name %> to Exam Time Table Automation System</h1> -->
      <h1 id="welcome_heading"  align="center">Welcome To The Exam Time Table Automation System</h1>
    </div>
</body>
<script src="/js/sidebar_logic.js">
</script>
</html>
